{% extends view('admin.admin') %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Paginas
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>#</th>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id   }}</td>
                    <td>{{ page.name }}</td>
                    <td>
                        <a href='/admin/content/index?id={{ page.id }}' title=''><i class= 'glyphicon glyphicon-edit'></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <a href="/admin" class="btn btn-success"> Voltar </a>

{% endblock %}