{% extends view('admin.admin') %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Publicar
    </div>
    <div class="panel-body">

        {% if publish %}
            <table class="table table-hover">
                <thead>
                <th>Data Alteração</th>
                <th>#</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ publish }}</td>
                        <td><a href='/admin/page/publish' title='Publicar'><i class= 'glyphicon glyphicon-check'></i></a></td>
                    </tr>
                </tbody>
            </table>
         {% else %}
             <p>Não ha novas alterações.</p>
             <a href='/admin/page/publish'class="btn btn-lg btn-primary pull-right" title="Recarregar"><i class='glyphicon glyphicon-refresh'></i></a>
        {% endif %}
    </div>
</div>

    <a href="/admin" class="btn btn-success"> Voltar </a>

{% endblock %}