<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth().email }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/admin/pages">Paginas</a></li>
            <li><a href="/admin/gallery">Galeria</a></li>
            <li><a href="/admin/cache">Cache</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header"></li>
            <li><a href="/auth/logout">Sair</a></li>
        </ul>
    </li>