{% extends view('admin.admin') %}


{% block content %}

    <div id="success" style="display: none" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Salvo com <strong>Sucesso!</strong>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"></a> Nova Foto</div>
        <div class="panel-body">

            <form method="post" action="/admin/photo/upload" class="form-horizontal" id="upload" enctype="multipart/form-data">
                <input type="hidden" name="gallery_id"  id="gallery_id" value="{{ id }}"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Titulo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="description" id="description"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" name="file" id="file"/>
                    </div>
                </div>
                <div class="form-group command_show">
                    <label class="col-sm-2 control-label">Requisitos</label>
                    <div class="col-sm-6">
                        <p>Formatos: PNG,JPEG, JPG</p>
                        <p>Tamanhos Maximo: 1M</p>
                        <div id="image_preview"><img id="previewing" src="" /></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default"><i class="fa fa-btn fa-check"></i>Salvar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <a href="/admin/gallery/edit?id={{ id}}" class="btn btn-success"> Voltar </a>



    <script>

        $(document).ready(function (e) {

            $("#upload").on('submit',(function(e) {

                e.preventDefault();

                if($("#title").val() == "")
                {
                    alert('Titulo é obrigatório!');
                    return false;
                }

                $.ajax({
                url: this.action,               // Url to which the request is send
                type: "POST",                   // Type of request to be send, called as method
                data: new FormData(this),       // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false,             // The content type used when sending data to the server.
                cache: false,                   // To unable request pages to be cached
                processData:false})            // To send DOMDocument or non processed data file it is set to false
                .success(function(data)
                {
                    $("#success").show();
                    window.setTimeout('location.reload()', 3000);
                    //alert(data.responseText);
                    //window.location.href="/admin/gallery/edit?id="+$("#gallery_id");
                })
                .fail(function(data)
                {
                    alert(data.responseText);
                });
            }));

            // Function to preview image after validation
            $(function() {
                $("#file").change(function() {
                    $("#message").empty(); // To remove the previous error message
                    var file = this.files[0];
                    var imagefile = file.type;
                    var match= ["image/jpeg","image/png","image/jpg"];
                    if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
                    {
                        $('#previewing').attr('src','noimage.png');
                        $("#message").html("<p id='error'>Please Select A valid Image File</p>"+"<h4>Note</h4>"+"<span id='error_message'>Only jpeg, jpg and png Images type allowed</span>");
                        return false;
                    }
                    else
                    {
                        var reader = new FileReader();
                        reader.onload = imageIsLoaded;
                        reader.readAsDataURL(this.files[0]);
                    }
                });
            });
            function imageIsLoaded(e) {
                $("#file").css("color","green");
                $('#image_preview').css("display", "block");
                $('#previewing').attr('src', e.target.result);
                $('#previewing').attr('width', '150px');
                $('#previewing').attr('height', '150px');
            };
        });

    </script>
{% endblock %}