{% extends view('admin.admin') %}


{% block content %}

    <link rel="stylesheet" href="../../../../assets/admin/upload/css/jquery.fileupload.css">

    <div class="panel panel-default">
        <div class="panel-heading"></a> Editar Foto</div>
        <div class="panel-body">

            <form method="post" action="/admin/photo/update" class="form-horizontal">
                <input type="hidden" name="id" value="{{ photo.id }}">
                <div class="form-group command_show">
                    <label class="col-sm-2 control-label">Titulo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title" id="title" value="{{ photo.title }}"/>
                    </div>
                </div>
                <div class="form-group command_show">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="description" id="description" value="{{ photo.description }}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="upload"><i class="fa fa-btn fa-check"></i>Salvar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}