{% extends view('admin.admin') %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Conteudo da Pagina:
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>#</th>
            </thead>
            <tbody>

            {% for content in contents %}
                <tr>
                    <td>{{ content.id }}</td>
                    <td>{{ content.name }}</td>
                    <td>
                        <a href='/content/edit?id={{ content.id }}' title=''><i class= 'glyphicon glyphicon-edit'></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}