{% extends view('admin.admin') %}

{% block content %}

    {% if success %}
        <div id="success" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Criado com <strong>Sucesso!</strong>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 20px 20px">
            <a href="/admin/client"> Clientes </a> | Cadastro

            {% if client.Password().status %}
                <a href="/admin/personal_password/comment?id={{ client.Password().id }}" type="submit" class="pull-right btn btn-danger">Resetar Senha</a>
            {% else %}
                <a href="/admin/personal_password/addPassword?id={{ client.id }}" type="submit" class="pull-right btn btn-success">Gerar Senha</a>
            {% endif %}


        </div>
        <div class="panel-body">

            <form method="post" action="/admin/client/update?id={{ client.id }}" class="form-horizontal" name="clientForm">

                {% include view('admin.client._inputs') %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-btn fa-check"></i>Salvar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <a href="/admin/client" class="btn btn-success"> Voltar </a>


{% endblock %}