{% extends view('app') %}

{% block content %}
<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">

			<ul class="simplefilter">
				{% for key, gallery in galleries %}
					<li data-filter="{{ key }}">{{ gallery.name }}</li>
				{% endfor %}
			</ul>

			<div class="filtr-container">
				<div class="  filtr-item gallery-t" data-category="1, 5" data-sort="Busy streets">
					<a href="images/ga.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure>
							<img src="../../../assets/site/images/ga.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>
				</div>

				<div class=" filtr-item" data-category="2, 5" data-sort="Luminous night">
					<a href="images/ga1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga1.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class=" filtr-item" data-category="1, 4" data-sort="City wonders">
					<a href="images/ga2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga2.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class="  filtr-item" data-category="3" data-sort="In production">
					<a href="images/ga3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga3.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class=" filtr-item" data-category="3, 4" data-sort="Industrial site">
					<a href="images/ga4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga4.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class=" filtr-item" data-category="2, 4" data-sort="Peaceful lake">
					<a href="images/ga5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga5.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class="  filtr-item" data-category="1, 5" data-sort="City lights">
					<a href="images/ga6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga6.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class=" filtr-item" data-category="2, 4" data-sort="Dreamhouse">
					<a href="images/ga7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga7.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>
				<div class=" filtr-item" data-category="2, 4" data-sort="Dreamhouse">
					<a href="images/ga8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">

						<figure>
							<img src="../../../assets/site/images/ga8.jpg" class="img-responsive" alt=" " />	<figcaption>
							<h3>Titulo</h3>
							<p>
								Texto Previo.
							</p>
						</figcaption>
						</figure>
					</a>

				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="../../../assets/site/js/jquery.filterizr.js"></script>
	<script src="../../../assets/sitejs/controls.js"></script>
	<!--<script src="js/jquery.chocolat.js"></script>
	<link href="css/owl.carousel.css" rel="stylesheet">
	<script src="js/owl.carousel.js"></script>
	<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">-->

	<!-- Kick off Filterizr -->
	<script type="text/javascript">
		$(function() {
			$('.filtr-container').filterizr();
			$('.filtr-item a').Chocolat();
			$("#owl-demo2").owlCarousel({
				items : 1,
				lazyLoad : false,
				autoPlay : true,
				navigation : false,
				navigationText :  false,
				pagination : true
			});
		});
	</script>

{% endblock %}