<html>
<head>
    <style type="text/css">
        body{font-family:Arial, sans-serif;}
    </style>
</head>
<body>

<p style="padding-bottom: 40px">Olá {{ password.Client().name }},</p>
<p>
    Segue suas novas senhas de acesso:<br/>
    Usuario: {{ password.Client().id }}<br/>
    Senha Telefone: {{ password.phone }} <br/>
    Senha Impressora: {{ password.print }}
</p>

<p>
    <a href="http://hotspotcwk.com.br/ajuda">Precisa de Ajuda?</a>
</p>
</body>
</html>